[Unit]
Description=__APP__-worker
After=network.target

[Service]
Type=simple
User=__APP__
WorkingDirectory=__INSTALL_DIR__
Environment="__LD_PRELOAD__"
Environment="__YNH_RUBY_LOAD_PATH__"
Environment="RAILS_ENV=production"
ExecStart=__INSTALL_DIR__/bin/bundle exec sidekiq -C __INSTALL_DIR__/config/sidekiq.yml
TimeoutSec=15
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target
