[program:__APP__-app]
command=__RBENV_ROOT__/versions/__APP__/bin/bundle exec rails s puma -p __PORT__ -b 0.0.0.0
directory=__FINALPATH__/
environment=RAILS_ENV=production,RACK_ENV=production,__YNH_NODE_LOAD_PATH__
stderr_logfile=/var/log/supervisor/__APP__-app-stderr.log
stdout_logfile=/var/log/supervisor/__APP__-app-stdout.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=100

[program:__APP__-worker]
command=__RBENV_ROOT__/versions/__APP__/bin/bundle exec sidekiq -C __FINALPATH__/config/sidekiq.yml
directory=__FINALPATH__/
environment=RAILS_ENV=production,RACK_ENV=production,__YNH_NODE_LOAD_PATH__
stderr_logfile=/var/log/supervisor/__APP__-worker-stderr.log
stdout_logfile=/var/log/supervisor/__APP__-worker-stdout.log
